.slider {
   width: 100%;
   z-index: -1;
   height: 100%;
   overflow: hidden;
}
.slideShow {
   white-space: nowrap;
   transition: ease 1s;
   /* height: calc(16vh + 1rem + 100px); */
   /* height: clamp(200px, 20%, 200px); */
   /* width: calc(600px * 2); */
   /* width: 100%; */
   /* display: flex; */
}

.slides {
   display: inline-flex;
   align-items: center;
   width: 1200px;
   height: 400px;
   justify-content: center;
   width: -webkit-fill-available;
}

.background {
   display: inline-flex;
   align-items: center;
   width: 1200px;
   height: 400px;
   justify-content: center;
   width: -webkit-fill-available;
}

/* ============================ */
.Arrow {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   z-index: 5;
   margin: 0 10px;
   padding: 10px;
   background: transparent;
   border-radius: 5px;
   border: 0;
}

.Arrow:hover {
   background: rgba(0, 0, 0, 0.1);
   padding: 50px 10px;
   transition: all 0.1s;
}

.RightArrow {
   right: 0;
}

.LeftArrow {
   left: 0;
}

.dots {
   position: absolute;
   z-index: 5;
   display: flex;
   cursor: pointer;
   transform: translate3d(0, -250%, 0);
   width: 100%;
   align-items: center;
   justify-content: center;
}

.dot {
   position: relative;
   background: rgba(255, 255, 255, 0.5);
   margin: 0 10px;
   border-radius: 50%;
   padding: 5px;
   transition: all 0.2s;
}

.dotactive {
   transition: all 0.2s;
   background: rgb(255, 255, 255) !important;
}

.deactivebtn {
   display: none;
   transition: all 0.1s;
}

.bannerText {
   z-index: 1;
   position: relative;
   bottom: 30%;
   /* right: 0; */
}

.slides::before {
   content: "";
   background: rgba(0, 0, 0);
   opacity: 0.4;
   position: absolute;
   width: 100%;
   overflow: auto;
   z-index: 0;
   height: 100%;
}
